* {
  font-family: Roboto;
  font-size: 0.97em;
  color: #2E4765;
}

#container {
  max-width: 60rem;
}

#header--brand {
  border-bottom: solid 1px #dfdfdf;
  color: #EF4C00;
  font-size: 1.5em;
  line-height: 2em;
  padding-bottom: 0px;
  padding-left: 0;
}

#header--nav {
  margin: 0px;
  padding: 0;
}

#header--nav ol {
  list-style-type: none;
  height: 50px;
  border-bottom: solid 1px #dfdfdf;
  padding-top: 6px;
}

#header--nav li .active {
  padding-bottom: 13px;
  border-bottom: solid 6px #EF4C00;
}

#header--nav a {
  color: #2E4765;
}

#header__user-pic-container {
  border-bottom: solid 1px #dfdfdf;
  border-right: solid 1px #dfdfdf;
  padding-top: 6px;
}

#header__user-pic-container--user-pic {
  width: 34px;
}

#header__cart-btn-container {
  border-bottom: solid 1px #dfdfdf;
}

#header__cart-btn-container #header--cart-btn {
  height: 34px;
  width: 110px;
  background-color: #EF4C00;
  border: 0;
  color: white;
}

#header__cart-btn-container #header--cart-btn--icon {
  font-size: 1.3em;
  color: #fff;
  position: relative;
  top: 2px;
}

#section-top__quote-container--first-quotation {
  font-size: 3em;
}

#section-top__quote-container--quote {
  padding-top: 7px;
  font-size: 1.9em;
}

#section-top__quote-container--author {
  padding-top: 70px;
  color: #EF4C00;
  font-weight: bold;
}

#section-top__quote-container--last-quotation {
  font-size: 3em;
  padding-top: 40px;
}

#section-top__main {
  background-image: url("images/10882@2x.png");
  min-height: 250px;
  max-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 2em;
  line-height: 1.5em;
  padding: 60px 0px 0px 50px;
  border-radius: 20px;
}

#section-top__main div {
  color: #fff;
}

#section-top__main .section-top__main--app-btn {
  width: 150px;
  height: 40px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90%;
}

#section-top__main #section-top__main--app-store-btn {
  background-image: url(images/btn-app-store.png);
  background-color: #B30733;
}

#section-top__main #section-top__main--google-play-btn {
  background-image: url(images/btn-google-play.png);
  background-color: #e41649;
}

#section-main__header-container--our-meal-label {
  padding-top: 10px;
  font-size: 1.2em;
  color: #B30733;
  font-weight: bold;
}

#section-main__header-container__search-container {
  display: inline;
}

#section-main__header-container__search-container--search-bar {
  background-color: #e1e9f3;
}

#section-main__header-container__search-container--search-field {
  margin: 11px 0px 9px 15px;
  border: 0;
  width: 250px;
  background-color: transparent;
}

#section-main__header-container__search-container--search-btn {
  margin: 10px 15px 10px 10px;
  color: #B30733;
}

#section-main__header-container--search-settings {
  background-color: #EF4C00;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border: 0;
}

#section-main__header-container--search-settings i {
  font-size: 1.5em;
  padding-left: 1px;
  color: white;
}

#section-main__categories--all-btn {
  background-color: #EF4C00;
  border: 0;
  color: white;
  padding: 6px 17px;
  margin: 7px 7px 7px 0px;
}

.section-main__categoryies--nav-item {
  background-color: #e1e9f3;
  padding: 6px 17px;
  margin: 7px;
  display: inline;
}

.section-main__categoryies--nav-item img {
  width: 20px;
  fill: #2E4765;
  margin-right: 4px;
  color: #2E4765;
}

.section-main__categoryies--nav-item span {
  position: relative;
  top: 2px;
}

.meal-item {
  margin: 10px auto;
  width: 17rem;
}

.meal-item--img {
  height: 120px;
  width: inherit;
}

.meal-item--img img {
  height: 150px;
}

.meal-item h6 {
  color: #B30733;
}

.meal-item > div {
  padding: 0;
  border: 0;
}

.meal-item--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meal-item--star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meal-item--footer {
  width: inherit;
  padding: 8px;
  margin-top: 3px;
}

.meal-item--footer span {
  padding: 4px 5px 0 0;
}

.meal-item--footer a {
  background-color: #dfdfdf;
  padding: 6px 10px;
  margin: 0 5px 0 0;
  text-decoration: none;
  font-size: 0.8em;
}

.meal-item--footer a:link {
  text-decoration: none;
  color: #2E4765;
}

.meal-item--footer a:visited {
  text-decoration: none;
}

.meal-item--footer a:hover {
  text-decoration: none;
  color: #EF4C00;
}

.meal-item--footer a:active {
  text-decoration: none;
}

.star {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  border-right: .3em solid transparent;
  border-bottom: 0.7em solid #ff7300;
  border-left: .3em solid transparent;
  font-size: 7px;
}

.star:before, .star:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: .6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #ff7300;
  border-left: 1em solid transparent;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.star:after {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.star-dim {
  opacity: 50%;
}

.heart {
  color: #EF4C00;
  position: absolute;
  margin-top: 6px;
  margin-left: 5px;
  width: 9px;
  height: 9px;
  border-left: solid 1px #ee1313;
  border-bottom: solid 1px #ee1313;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.heart:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -1px;
  width: 9px;
  height: 5px;
  border-radius: 5px 5px 0 0;
  border-top: solid 1px #ee1313;
  border-left: solid 1px #ee1313;
  border-right: solid 1px #ee1313;
}

.heart:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 7px;
  width: 5px;
  height: 9px;
  border-radius: 0 5px 5px 0;
  border-top: solid 1px #ee1313;
  border-right: solid 1px #ee1313;
  border-bottom: solid 1px #ee1313;
}

.heart-filled, .heart-filled::before, .heart-filled:after {
  background-color: #ee1313;
}

.ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bracket {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

#card-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer {
  background-color: #fff;
  height: 50px;
  width: inherit;
}
/*# sourceMappingURL=style.css.map */